@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
}

main {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.styled-scrollbar {
  --scrollbar-foreground: #abb2bf;
  --scrollbar-background: #282c34;
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
.styled-scrollbar::-webkit-scrollbar {
  width: 1rem; /* Mostly for vertical scrollbars */
  height: 1rem; /* Mostly for horizontal scrollbars */
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--scrollbar-foreground);
}
.styled-scrollbar::-webkit-scrollbar-track {
  /* Background */
  background: var(--scrollbar-background);
}
